{% extends "templates/web.html" %}
{% block header %}
{{ super() }}
<!-- Bootstrap CSS CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- Boxicons CDN -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
{% endblock %}
{% block page_content %}

<!-- Top Navbar -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">My Tickets</span>
    </div>
  </nav>
  
  <!-- Segment Control -->
  <ul class="nav nav-pills justify-content-center mt-3 mb-4">
    <li class="nav-item">
      <a class="nav-link active" href="#">All Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Current Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Finished</a>
    </li>
  </ul>
  
  <!-- Tickets List -->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
{% set projects = frappe.db.get_all("Project", fields=["project_name", "customer", "custom_whatsapp", "name"]) %}
        {% for project in projects %}
            <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Project: {{project.project_name}} </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{project.customer}}</h6>
                <p class="card-text">
                <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
                </p>
                <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
                <!-- <span class="badge bg-success">Finished</span>
                <span class="badge bg-primary">In Progress</span>
                <span class="badge bg-secondary">In Hold</span> -->
                <button class="btn bg-success" type="button"><i class='bx bxl-whatsapp'></i></button>
            </div>
            {% set tasks = frappe.db.get_all("Task",  filters={"project": project.name}, fields=["name", "subject", "status", "project", "completed_on"]) %}
                            

            <h3>Tasks:</h3>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.subject }} - 
                    {% if task.status == "Open" %}
                        <span class="badge bg-success">
                    {% elif task.status == "Working" %}
                    <span class="badge bg-primary">
                    {% elif task.status == "Completed" %}
                    <span class="badge bg-info">
                    {% else %}
                         <span class="badge bg-secondary">
                    {% endif %}
                        {{ task.status }} </span>{% if task.status == "Completed" %}{{ task.completed_on }} {% endif %} </li>
                {% endfor %}
            </ul>
            </div>
        {% endfor %} 

        <!-- End of Single Ticket -->
              <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Ticket #53214</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zahra Bagherian</h6>
            <p class="card-text">
              <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
            </p>
            <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
            <span class="badge bg-success">Finished</span>
            <span class="badge bg-primary">In Progress</span>
            <span class="badge bg-secondary">In Hold</span>
          </div>
        </div>
        <!-- End of Single Ticket -->
              <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Ticket #53214</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zahra Bagherian</h6>
            <p class="card-text">
              <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
            </p>
            <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
            <span class="badge bg-success">Finished</span>
            <span class="badge bg-primary">In Progress</span>
            <span class="badge bg-secondary">In Hold</span>
          </div>
        </div>
        <!-- End of Single Ticket -->
              <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Ticket #53214</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zahra Bagherian</h6>
            <p class="card-text">
              <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
            </p>
            <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
  
            <span class="badge bg-primary">In Progress</span>
  
          </div>
        </div>
        <!-- End of Single Ticket -->
              <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Ticket #53214</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zahra Bagherian</h6>
            <p class="card-text">
              <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
            </p>
            <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
  
            <span class="badge bg-secondary">In Hold</span>
          </div>
        </div>
        <!-- End of Single Ticket -->
              <!-- Single Ticket -->
        <!-- You can repeat this section for each ticket -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Ticket #53214</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zahra Bagherian</h6>
            <p class="card-text">
              <small class="text-muted">Monday Jun 29th 2020, Afternoon 04:00 PM - 08:00 PM</small>
            </p>
            <p class="card-text">Al Mizhar 2 Al Mizhar - Dubai, 100 Km</p>
            <span class="badge bg-success">Finished</span>
          </div>
        </div>
        <!-- End of Single Ticket -->
      </div>
    </div>
  </div>
  <!-- Sticky Bottom Navbar -->
  <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid d-flex justify-content-around">
        <button class="btn btn-primary" type="button"><i class='bx bx-home'></i></button>
        <button class="btn btn-secondary" type="button"><i class='bx bx-search'></i></button>
        <button class="btn btn-success" type="button"><i class='bx bx-user'></i></button>
        <button class="btn btn-danger" type="button"><i class='bx bx-bell'></i></button>
      </div>
    </nav>
  <!-- Optional JavaScript; choose one of the two! -->
{% endblock %}