{% extends "templates/layout.html" %}
{% block content%} 
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-around">
      <button class="btn btn-primary" type="button"><i class='bx bx-home'></i></button>
      <button class="btn btn-secondary" type="button"><i class='bx bx-search'></i></button>
      <button class="btn btn-success" type="button"><i class='bx bx-user'></i></button>
      <button class="btn btn-danger" type="button"><i class='bx bx-bell'></i></button>
    </div>
  </nav>


{% endblock %}